body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkorange;
    background-color: black;
}
h1 {
    font-size: xx-large;
    color: darkorange;
}
.center-img {
    text-align: center;
}
.center-h1 {
    text-align: center;
}