body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkorange;
    background-color: black;
}
h1 {
    font-size: xx-large;
    color: deepskyblue;
}
.center-img {
    text-align: center;
}
.center-h1 {
    text-align: center;
}